@font-face {
  font-family: "DM Sans";
  src: url(fonts/DMSans/DMSans-Regular.ttf);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(fonts/JetBrainsMono/JetBrainsMono-Regular.ttf);
}

:root {
    --h2: #EA6962;
    --h3: #E78A4E;
    --h4: #D8A657;
    --h5: #A9B665;

    --link: #89B482;
    --quote: #5A524C;
    --border: #45403D;
    --border-size: 0.1rem;

    --pagebg: #202020;
    --pagefg: #D4BE98;
    --codebg: #282828;
    --copyfg: #928374;
    --sidebarbg: #242424;

    --field: #7DAEA3;
    --class: #D8A657;
    --escape: #A9B665;
    --string: #98B482;
    --comment: #928374;
    --keyword: #EA6962;
    --success: #A9B665;
    --constant: #D3869B;
    --function: #A9B665;

    --padding: 0.4rem;
    --font-size: 1.1rem;

    --header: 60px;
    --sidebar: 300px;
}

* {
    font-family: "DM Sans";
}

a {
    color: var(--link);
    text-underline-offset: calc(var(--padding) / 2);
}

li {
    line-height: calc(1.5 * var(--font-size));
}

h1 { margin: var(--padding); }
h2:not(.hl-header) { color: var(--h2); }
h3:not(.hl-header) { color: var(--h3); }
h4:not(.hl-header) { color: var(--h4); }
h5:not(.hl-header) { color: var(--h5); }

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);

    color: var(--pagefg);
    background-color: var(--pagebg);
}

code {
    font-size: 90%;
    whitespace: pre;
    font-family: "JetBrains Mono";
}

pre {
    border: var(--border-size) solid var(--border);
    font-size: calc(0.9 * var(--font-size));
    line-height: calc(1.5 * var(--font-size));
    overflow-x: auto;
}

pre, span {
    tab-size: 4;
    font-family: "JetBrains Mono";
}

button {
    color: var(--pagefg);
}

a, button {
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

blockquote {
    margin-left: 0px;
    padding-left: calc(var(--padding) * 2);
    border-left: calc(var(--border-size) * 2) solid var(--quote);
    color: var(--quote);
}

blockquote br {
    display: block;
    content: "";
    margin-top: var(--padding);
}

.copy, .copied {
    top: var(--padding);
    right: var(--padding);
    border: none;
    cursor: pointer;
    padding: calc(1.1 * var(--padding)) calc(0.5 * var(--padding));
    position: absolute;
    font-size: calc(0.7 * var(--font-size));

    fill: var(--copyfg);
    background: transparent;
}

.copied {
    fill: var(--success);
}

.copy.hidden, .copied.hidden {
    display: none;
}

.code {
    display: none;
    margin-top: calc(-1 * var(--border-size));
    padding: var(--padding) calc(1.5 * var(--padding));
    display: block;
    margin-bottom: calc(4 * var(--padding));
    background-color: var(--codebg);
}

.codes {
    position: relative;
    padding-top: var(--padding);
}

.field {
    color: var(--field);
}

.class {
    color: var(--class);
}

.escape {
    color: var(--escape);
}

.string {
    color: var(--string);
}

.comment {
    color: var(--comment);
}

.keyword {
    color: var(--keyword);
}

.constant {
    color: var(--constant);
}

.function {
    color: var(--function);
}

header {
    top: 0;
    width: 100%;
    height: var(--header);
    z-index: 1000;
    display: flex;
    padding: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

#toggle-sidebar {
    top: 50%;
    left: var(--padding);
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    transform: translateY(-50%);
    font-size: calc(1.5 * var(--font-size));
    background: none;
    margin-right: auto;
}

nav {
    top: var(--header);
    left: 0;
    width: var(--sidebar);
    height: calc(100% - var(--header));
    z-index: 999;
    position: fixed;
    background: var(--sidebarbg);
    transform: translateX(0);
    overflow-y: auto;
    transition: transform 0.3s ease;
    overscroll-behavior: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    position: relative;
    margin-left: calc(2 * var(--padding));
}

nav ul li ul li {
    list-style: none;
    margin-left: calc(3 * var(--padding));
}

nav ul li ul li ul li {
    list-style: none;
    margin-left: calc(4 * var(--padding));
}

nav ul li a {
    color: var(--pagefg);
    display: block;
    padding: var(--padding) 0;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--link);
}

main {
    padding: calc(2 * var(--padding));
    margin-top: var(--header);
    margin-left: var(--sidebar);
}

@media (max-width: 768px) {
    nav.collapsed {
        transform: translateX(-100%);
    }

    main {
        margin-left: 0;
    }

    #toggle-sidebar {
        display: block;
    }
}

.links {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    border: var(--border-size) solid var(--border);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - var(--padding));
    aspect-ratio: 1;
    margin: var(--padding) 0;
    font-weight: bold;
    box-sizing: border-box;
}

.link a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: var(--pagefg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    background-color: var(--border);
}

@media (min-width: 768px) {
    .link {
        aspect-ratio: none;
        height: calc(var(--header) * 2);
    }
}

/* Chromium */
::-webkit-scrollbar {
    width: calc(0.8 * var(--padding));
    height: calc(0.8 * var(--padding));
}

::-webkit-scrollbar-thumb {
    background: var(--border);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--comment);
}

/* Firefox */
html {
    scrollbar-gutter: stable;
}

* {
    scrollbar-color: var(--border) none;
    scrollbar-width: calc(1.2 * var(--padding));
}

.navigation-icon {
    top: calc((var(--header) - 30px) / 2);
    right: calc((var(--header) - 30px) / 2);
    z-index: 9000;
    position: fixed;
}

.navigation-icon:hover {
    opacity: 0.7;
}
