@font-face {
  font-family: "DM Sans";
  src: url(fonts/DMSans/DMSans-Regular.ttf);
}

@font-face {
  font-family: "JetBrains Mono";
  src: url(fonts/JetBrainsMono/JetBrainsMono-Regular.ttf);
}

:root {
    --border: #444444;
    --border-size: 0.15rem;
    --border-radius: 0.3rem;

    --pagebg: #202020;
    --pagefg: #EEEEEE;
    --codebg: #1C1C1C;
    --copyfg: #888888;
    --sidebarbg: #282828;

    --field: #F78C6C;
    --class: #E6B800;
    --escape: #E78A4E;
    --string: #D19A66;
    --comment: #888888;
    --keyword: #C678DD;
    --success: #3FB950;
    --constant: #56B6C2;
    --function: #5FAFD7;

    --padding: 0.4rem;
    --font-size: 1.1rem;

    --header: 60px;
    --sidebar: 300px;
}

* {
    font-family: "DM Sans";
}

li {
    line-height: calc(1.5 * var(--font-size));
}

h1 {
    margin: var(--padding);
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);

    color: var(--pagefg);
    background-color: var(--pagebg);
}

code {
    font-size: calc(0.9 * var(--font-size));
    whitespace: pre;
    font-family: "JetBrains Mono";
    border-radius: var(--border-radius);
}

pre {
    border: var(--border-size) solid var(--border);
    font-size: calc(0.9 * var(--font-size));
    line-height: calc(1.5 * var(--font-size));
    overflow-x: auto;
}

pre, span {
    tab-size: 4;
    font-family: "JetBrains Mono";
}

button {
    color: var(--pagefg);
}

a, button {
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.tab {
    border: var(--border-size) solid var(--border);
    cursor: pointer;
    padding: var(--padding) calc(3 * var(--padding));
    font-size: calc(0.8 * var(--font-size));
    font-weight: bold;
    margin-right: -1px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border-bottom: none;
    background-color: var(--border);
}

.tab.active {
    z-index: 1;
    background-color: var(--codebg);
}

.tabs {
    display: flex;
    padding-top: var(--padding);
}

.copy, .copied {
    top: var(--padding);
    right: var(--padding);
    border: none;
    cursor: pointer;
    padding: calc(0.5 * var(--padding)) calc(0.5 * var(--padding));
    position: absolute;
    font-size: calc(0.7 * var(--font-size));
    border-radius: var(--border-radius);

    fill: var(--copyfg);
    background: transparent;
}

.shell .copy {
    padding: calc(1.1 * var(--padding)) calc(0.5 * var(--padding));
}

.copied {
    fill: var(--success);
}

.copy.hidden, .copied.hidden {
    display: none;
}

.code {
    display: none;
    margin-top: calc(-1 * var(--border-size));
}

.code.active {
    padding: var(--padding) calc(2.8 * var(--padding));
    display: block;
    border-radius: var(--border-radius);
    margin-bottom: calc(4 * var(--padding));
    background-color: var(--codebg);
}

.code.active:not(.shell) {
    border-top-left-radius: 0;
}

.codes {
    position: relative;
}

.codes.shell {
    padding-top: var(--padding);
}

.field {
    color: var(--field);
}

.class {
    color: var(--class);
}

.escape {
    color: var(--escape);
}

.string {
    color: var(--string);
}

.comment {
    color: var(--comment);
}

.keyword {
    color: var(--keyword);
}

.constant {
    color: var(--constant);
}

.function {
    color: var(--function);
}

header {
    top: 0;
    width: 100%;
    height: var(--header);
    z-index: 1000;
    display: flex;
    padding: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: #282828;
}

#toggle-sidebar {
    top: 50%;
    left: var(--padding);
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    transform: translateY(-50%);
    font-size: var(--font-size);
    background: none;
    margin-right: auto;
}

nav {
    top: var(--header);
    left: 0;
    width: var(--sidebar);
    height: calc(100vh - var(--header));
    z-index: 999;
    position: fixed;
    background: var(--codebg);
    transform: translateX(0);
    overflow-y: auto;
    transition: transform 0.3s ease;
    overscroll-behavior: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    position: relative;
    margin-left: calc(2 * var(--padding));
}

nav ul li ul li {
    list-style: none;
    margin-left: calc(3 * var(--padding));
}

nav ul li ul li ul li {
    list-style: none;
    margin-left: calc(4 * var(--padding));
}

nav ul li a {
    color: var(--pagefg);
    display: block;
    padding: var(--padding) 0;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--constant);
}

main {
    padding: calc(2 * var(--padding));
    margin-top: var(--header);
    margin-left: var(--sidebar);
}

@media (max-width: 768px) {
    nav.collapsed {
        transform: translateX(-100%);
    }

    main {
        margin-left: 0;
    }

    #toggle-sidebar {
        display: block;
    }
}

.links {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    border: var(--border-size) solid var(--border);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - var(--padding));
    aspect-ratio: 1;
    margin: var(--padding) 0;
    font-weight: bold;
    box-sizing: border-box;
}

.link a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: var(--pagefg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.link:hover {
    background-color: var(--border);
}

@media (min-width: 768px) {
    .link {
        aspect-ratio: none;
        height: calc(var(--header) * 2);
    }
}
